name: Node.js CI-v2

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: src

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 20.x
          cache: npm
          cache-dependency-path: src/package-lock.json   # important!

      - run: npm ci
      - run: npm start &

      - run: |
          for i in {1..10}; do
            nc -z localhost 3000 && echo "Server is up" && break
            echo "Waiting for server..."
            sleep 2
          done

      - run: npm test
