name: Node.js CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [20.x]

    defaults:
      run:
        working-directory: src

    steps:
      - uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: npm
          cache-dependency-path: src/package-lock.json

      - run: npm ci

      # Start the server in the background
      - name: Start Server
        run: npm start &

      # Wait for server to be ready
      - name: Wait for server
        run: |
          for i in {1..10}; do
            nc -z localhost 3000 && echo "Server is up" && break
            echo "Waiting for server..."
            sleep 2
          done

      # Run tests
      - run: npm test
